<p id="notice"><%= notice %></p>

<h1>Visit Logs</h1>
<%= link_to 'See contacts', contacts_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cookie</th>
      <th>Page</th>
      <th>When</th>

    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.cookie %></td>
        <td><%= log.page %></td>
        <td><%= log.created_at %></td>

      </tr>
    <% end %>
  </tbody>
</table>
