<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>
<%= link_to 'See visit logs', logs_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Cookie</th>
      <th>E-mail</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.cookie %></td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Show Logs', contact %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
